:root {
  font-family: system-ui,sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*Variables*/
.color-primary {
  background-color: hsl(250, 84%, 54%);
}

.color-secondary {
  background-color: hsl(250, 84%, 60%)
}

.color-white {
  background-color: hsl(0, 0%, 100%);
}

.color-gray {
  background-color: #f0f2f5;
}

.text-primary {
  color: hsl(250, 84%, 54%);
}

.text-secondary {
  color: hsl(250, 84%, 60%)
}

.text-white {
  color: hsl(0, 0%, 100%);
}

.text-contrast-low {
  color: hsl(204, 2%, 46%)
}

.text-contrast-medium {
  color: #323639;
}

.text-contrast-high {
  color: hsl(204, 28%, 7%);
}

.font-size-md {
  font-size: 1.2rem;
  margin: 0;
}

.shadow-md {
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.box-sizing {
  box-sizing: border-box;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  gap: 1em;
  color: white;
  border: none;
  border-radius: 0.25em;
  transition: all 0.2s;
}

.btn-primary:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-primary:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background-color: hsl(250, 84%, 60%)
}

.btn-primary:active, .btn-primary:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.title-primary {
  padding: 0.5em 2em;
  border: none;
  margin: auto;
}

.height-100vh {
  height: 100vh;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-start {
  align-items: start;
}

.pointer {
  cursor: pointer;
}

.margin-zero {
  margin: 0;
}
/*Variables end here*/

/*Expandable primary button*/
.exp-btn {
  width: 12rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.exp-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: hsl(250, 84%, 54%);;
  border-radius: 1.625rem;
}
.exp-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.exp-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.exp-btn .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.exp-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: hsl(250, 84%, 54%);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.exp-btn:hover .circle {
  width: 100%;
}
.exp-btn:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
.exp-btn:hover .button-text {
  color: #fff;
}
/*Expandable primary button end here*/

body {
  margin: 0;
}

header {
  padding: 1em 0;
}

 main {
  padding: 0 2rem;
}

nav {
  justify-content: space-between;
  height: 5vh;
}

.logo-p {
  padding-right: 0.6em;
  font-size: 1.6em;
  font-weight: 600;
}

.menu {
  list-style: none;
  gap: 2em;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 0.5em;
}

.menu-link {
  text-decoration: none;
  padding: 0.6em 0;
}

.menu-link {
  position: relative;
  color: hsl(204, 28%, 7%);
  text-decoration: none;
}

.menu-link:hover {
  color: hsl(250, 84%, 54%);
}

.menu-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: hsl(250, 84%, 54%);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-link:hover::before {
  transform: scaleX(1);
}

#searchQueryInput {
  height: 5vh;
  background-color: #f5f5f5;
  padding: 0 3.5em 0 1.5em;
  border-radius: 1.625em;
  outline: none;
  border: none;
}

#searchQuerySubmit {
  height: 5vh;
  width: 3.5em;
  margin-left: -3.5em;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.submit-icon {
  color: hsl(204, 28%, 7%);
}

.submit-icon:hover {
  color: hsl(250, 84%, 54%);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 1em;
  transition: 0.2s ease;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  transition: 0.3s;
}

.openbtn {
  height: 3em;
  padding: 0;
  border: none;
  background-color: transparent;
}

.closebtn {
  height: 3em;
  width: 3.5em;
  margin-left: -2em;
  margin-right: 0.5em;
  padding: 0;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.mobile {
  display: none;
}

.mobile-logo-p {
  font-size: 3em;
  font-weight: 600;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mobile-menu-item {
  list-style: none;
}

.mobilesearchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobilesearchQueryInput {
  width: 93%;
  height: 3em;
  font-size: 1em;
  background-color: white;
  padding: 0 3.5em 0 1.5em;
  margin-left: 0.5em;
  border-radius: 1.9em;
  outline: none;
  border: none;
}

#mobilesearchQuerySubmit {
  height: 3em;
  width: 3.5em;
  margin-left: -3.5em;
  margin-right: 3.5em;
  background: none;
  border: none;
  outline: none;
}

#mobilesearchQuerySubmit:hover {
  cursor: pointer;
}

.myspace-text {
  align-items: flex-end;
  width: 50%;
}

.myspace-text h1, h2 {
  text-align: right;
}

.myspace-text h1 {
  margin: 0;
}

.myspace-img {
  width: 50%;
}

.spv-img {
  overflow: hidden;
}

.myspace-buttons-container {
  gap: 2em;
}

.row {
  flex-wrap: wrap;
  gap: 1em;
}

.title {
  text-align: center;
  margin: 4em 0;
  border-radius: 3em;
}

.box {
  width: 23vw;
  background-color: #fff;
  border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.box:hover::after {
    opacity: 1;
}

.box-img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s;
}

.box-img:hover {
  filter: grayscale(100%);
}

.box-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-title, .box-title h3, .box-text {
  text-align: center;
}

.box-title a {
  text-decoration: none;
}

.box-title h3:hover {
  color: hsl(250, 84%, 54%);
}

.box2 {
  height: auto;
  width: 30%;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box2::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box2:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.box2:hover::after {
    opacity: 1;
}
.box2title {
  justify-content: flex-start;
  height: 5em;
  box-sizing: border-box;
}

.box2title h2 {
  margin: 0;
  text-align: left;
}

.box2content h4, .box2content p {
  margin: 0.5em 0;
}

.box2content p {
  line-height: 1.5em;
  max-height: 25em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
}

.structura {
  margin-bottom: 10em;
}

.box3 {
  width: 18%;
  cursor: pointer;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  -webkit-perspective: 150rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 12em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.8s ease;
  transform-style: preserve-3d;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: hsl(250, 84%, 54%);
}

.flip-card-front p {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

/* Style the back side */
.flip-card-back {
  background-color: hsl(250, 84%, 60%);
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

.flip-card-back-detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  gap: 0.5em;
}

.flip-card-back-detail a {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  color: white;
}

.flip-card-back-detail svg {
  flex-shrink: 0;
}


#collapsebtn {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 1em;
  color: hsl(250, 84%, 54%);
  transition: all 0.2s linear;
}

#closeicon, #openicon {
  transition: all 0.2s linear;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: hsl(250, 84%, 54%);
  color: white;
}

footer > * {
  width: 20%;
}

.footer-icons {
  gap: 1em;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}

.footer-menu-icon {
  color: white;
  transform: all 0.5s ease-out;
}

.footer-menu-icon:hover, .footer-menu-icon:focus {
  transform: scale(1.1);
}

.footer-link {
  color: white;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .width-80 {
    width: 100%;
  }

  .width-90 {
    width: 100%;
  }

  .nav-container {
    padding: 0 1em;
  }

  .logo h1 {
    font-size: 2em;
  }

  .menu {
    display: none;
  }

  .searchbar {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .myspace {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .myspace-img {
    width: 100%;
  }

  .myspace-text {
    width: 100%;
    align-items: center;
  }

  .myspace-text h1, .myspace-text h2 {
    text-align: center;
  }

  main {
    padding: 0;
  }

  .first {
    background-color: #f0f2f5;
  }

  .border {
    margin: 1em;
  }

  .title {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-radius: 0;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
  }

  .box {
    flex-direction: row-reverse;
    height: 18vh;
    width: 100%;
    background-color: white;
    box-shadow: inset 0 0 0.5px 1px rgba(255, 255, 255, 0.075), 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  }

  .box:hover {
    transform: scale(1);
  }

  .box-title {
    width: 60%;
  }

  .box-title h3 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    font-weight: 600;
    text-align: left;
    padding: 0 0.5em;
  }

  .box-img {
    height: 100%;
    width: 40%;
    border-radius: 0;
  }

  .box2, .box2title, .box2content {
    width: 100%;
  }

  .box2:hover {
    transform: scale(1);
  }

  .box2btn {
    border-radius: 0;
  }

  .box3 {
    width: 100%;
  }

  .flip-card-back-detail {
    justify-content: center;
  }

  #collapse {
    transition: all 0.8s ease-out;
  }

  #collapsebtn {
    display: flex;
  }

  .hidden {
    display: none;
  }
  
  .visuallyhidden {
    opacity: 0;
  }

  .structura {
    margin: 0;
  }

  footer {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    justify-content: center;
    padding: 0.5em;
  }

  .footer-menu, .footer-logo {
    display: none;
  }

  .footer-menu-icon {
    height: 1.5em;
    width: 1.5em;
  }
}