:root {
  --theme-blue: 200, 80%, 38%;
  --theme-red: 350, 63%, 52%;
  --theme-pink: 350, 100%, 69%;
  --theme-black: 0, 7%, 9%;
  --theme-white: 0, 0%, 100%;
  --theme-light: 40, 100%, 97%;
  --theme-dark: 0, 7%, 29%;
  color: hsl(var(--theme-dark));
  background: hsl(var(--theme-light));
}

/* Defined classes */
.color-primary {
  background-color: #6200EE;
}

.color-secondary {
  background-color: #3700B3;
}

.color-white {
  background-color: hsl(0, 0%, 100%);
}

.text-primary {
  color: #6200EE;
}

.text-secondary {
  color: #3700B3;
}

.text-white {
  color: hsl(0, 0%, 100%);
}

.text-contrast-low {
  color: hsl(204, 2%, 46%)
}

.text-contrast-medium {
  color: #323639;
}

.text-contrast-high {
  color: hsl(204, 28%, 7%);
}

.btn-primary {
  background-color: #6200EE;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, .25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;
}

.btn-primary:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .btn-primary {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

.text-bold {
  font-weight: 600;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-60 {
  width: 60%;
}

.flex-row-start {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.pointer {
  cursor: pointer;
}
/* Defined classes */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

*, *::after, *::before {
  box-sizing: border-box;
  text-decoration: none;
 }

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #E8E8E8;
}

/*Navigation bar start here*/
nav{
  background: #6200EE;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 2em;
}
nav .logo{
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #3700B3;
}
nav form{
  display: flex;
  height: 34px;
  padding: 2px;
  background: white;
  min-width: 18%!important;
  border-radius: 20px;
  border: 1px solid #6200EE;
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #6200EE;
  font-size: 17px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: 500;
  background: none;
  z-index: 1;
}

nav form button{
  padding: 0 15px;
  color: #6200EE;
  font-size: 17px;
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  color: #3700B3;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #6200EE;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }

  nav form .search-data {
    color: white;
  }

  nav form .search-data::placeholder {
    color: white;
  }

  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: 0;
    border: 10px solid transparent;
    border-bottom-color: #6200EE;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #6200EE;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  nav form button {
    color: white;
    z-index: 1;
  }

  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}

nav .logo.space{
  color: white;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
/*Navigation bar end here*/

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  padding: 0 2em;
}

.title {
  color: black;
  margin: 1em;
  font-size: 2em;
  text-align: center;
}


.spv-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
  width: 50%;
}

.spv-text h1, h2 {
  text-align: right;
}

.spv-text h1 {
  font-size: 3em;
}

.spv-btn {
  gap: 2em;
}

.spv-img {
  width: 50%;
  overflow: hidden;
}

/*Section no. 2 design start here*/
.grid {
  float: none;
  width: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.4em;
}
@media screen and (min-width: 40.063em) {
  .grid {
    float: left;
    width: 33.333%;
  }
}

.card__image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  min-height: 240px;
  overflow: hidden;
  position: relative;
}
.card__image > img {
  display: block;
  margin-bottom: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.card__image:hover > img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.card__title {
  color: white;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.75em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card__title:hover {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.card__overlay {
  content: "";
  bottom: 0;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.card__overlay--indigo {
  background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgba(92, 107, 192, 0.8));
  z-index: 2;
}

.card__overlay--blue {
  background-image: linear-gradient(to bottom, rgba(41, 182, 246, 0.1), rgba(41, 182, 246, 0.8));
  z-index: 2;
}

.card__overlay-content {
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  z-index: 3;
}

.card__meta {
  margin: 0;
  margin-right: -1em;
  margin-bottom: 0.75em;
}
.card__meta.card__meta--last {
  margin-bottom: 0;
}
.card__meta li {
  color: #f8f8f8;
  display: inline;
  list-style-type: none;
  margin-bottom: 0;
  padding-right: 1em;
  font-size: 0.85em;
  font-variant: small-caps;
  letter-spacing: 1px;
}
.card__meta li:not(:last-child):after {
  content: "●";
  font-style: normal;
  position: relative;
  color: rgba(255, 255, 255, 0.25);
  right: -0.6em;
}
.card__meta li > a {
  color: #f8f8f8;
}
/*Section no. 2 design end here*/

/*Section 3 design start here*/
*, *::after, *::before {
  box-sizing: border-box;
}
a {
  color: hsl(var(--theme-blue));
  transition: color 150ms, text-decoration-color 150ms;
}
a:active, a:visited {
  color: hsl(var(--theme-blue));
}
a:hover {
  color: hsl(var(--theme-red));
}
a:focus, a:hover {
  text-decoration-color: transparent;
}
a:focus, [tabindex='-1']:focus {
  outline: 0.125rem solid hsl(var(--theme-pink));
}
a:focus:not(:focus-visible), [tabindex='-1']:focus:not(:focus-visible) {
  outline: none;
}
.Carousel {
  --carousel-gap: 1rem;
  border-radius: 1rem;
  display: flex;
  gap: var(--carousel-gap);
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  scroll-behavior: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  height: 50vw;
  outline: none !important;
  min-height: 20rem;
  max-height: 30rem;
}
.Carousel::-webkit-scrollbar {
  display: none;
}
.Carousel .Card {
  aspect-ratio: var(--card-ratio);
  flex: 1 0 auto;
  min-height: 100%;
  scroll-snap-align: start;
}
.Carousel .Card__media {
  aspect-ratio: auto;
}
.Carousel > div:empty {
  position: relative;
}
.Carousel > div:empty:first-child {
  inset-inline-start: 10%;
  margin-inline-end: calc(-1 * var(--carousel-gap));
}
.Carousel > div:empty:last-child {
  inset-inline-end: 10%;
  margin-inline-start: calc(-1 * var(--carousel-gap));
}
.Carousel--single .Card {
  --card-ratio: auto;
  flex: 1 0 100%;
}
@media (prefers-reduced-motion: reduce) {
  .Carousel {
    scroll-behavior: auto;
  }
}
@supports not (aspect-ratio: 1) {
  .Carousel .Card__media {
    padding-block-end: 0 !important;
  }
  .Carousel .Card__image {
    position: relative !important;
  }
}
.Dots {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Dot {
  border-radius: 100%;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.Dot::after {
  background: currentColor;
  border-radius: 100%;
  content: '';
  display: block;
  height: 0.375rem;
  width: 0.375rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.Dot--active {
  color: hsl(var(--theme-pink)) !important;
}
.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem -0.5rem;
}
.Pagination .Arrow {
  flex: 0 0 auto;
}
.Pagination .Arrow:first-of-type {
  margin-inline-end: auto;
  order: -1;
}
.Pagination .Arrow:last-of-type {
  margin-inline-start: auto;
  order: 1;
}
.Arrow {
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
  color: hsl(var(--theme-blue));
  display: flex;
  height: 3rem;
  justify-content: center;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 150ms, color 150ms;
  width: 3rem;
}
.Arrow:hover {
  color: hsl(var(--theme-red));
}
.Arrow:focus {
  color: hsl(var(--theme-pink));
  outline: none;
}
.Arrow:focus svg {
  box-shadow: 0 0 0 0.125rem hsla(var(--theme-white)), 0 0 0 0.25rem currentColor;
}
.Arrow:focus:not(:focus-visible) {
  color: hsl(var(--theme-red));
}
.Arrow:focus:not(:focus-visible) svg {
  box-shadow: none;
}
.Arrow[disabled] {
  color: hsl(var(--theme-dark));
  opacity: 0.4;
  pointer-events: none;
}
.Arrow svg {
  border-radius: 100%;
  fill: currentColor;
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms;
}
[dir='rtl'] .Arrow svg {
  transform: scaleX(-1);
}
.Hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
:root {
  --card-link-color: var(--theme-blue);
  --card-hover-color: var(--theme-red);
  --card-focus-color: var(--theme-pink);
  --card-inner-focus-color: var(--theme-white);
  --card-shadow-color: var(--theme-black);
  --card-foreground-color: var(--theme-dark);
  --card-background-color: var(--theme-dark);
}
.Card {
  --card-ratio: auto 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [media-start] auto media-end main-start auto [main-end];
  max-width: 100%;
  position: relative;
}
.Card__media {
  aspect-ratio: var(--card-ratio);
  background: hsla(var(--card-background-color));
  border-radius: 1rem;
  grid-column: 1 / -1;
  grid-row: media-start / media-end;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.Card__media > * {
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}
.Card__main {
  align-self: end;
  color: hsl(var(--card-foreground-color));
  grid-column: 1 / -1;
  grid-row: main-start / main-end;
  padding: 1.25rem;
}
.Card__main [href]:not(.Card__link) {
  position: relative;
  z-index: 2;
}
.Card__main > * {
  margin: 0;
}
.Card__link {
  color: hsl(var(--card-link-color));
  font-weight: 600;
  text-decoration-line: underline;
  text-decoration-color: hsla(var(--card-link-color));
  text-decoration-thickness: 0.125rem;
  text-decoration-skip: ink;
  text-decoration-skip-ink: all;
  text-decoration-offset: 100%;
}
.Card__link::after {
  border: 0.125rem solid hsl(var(--card-focus-color));
  box-shadow: inset 0 0 0 0.125rem hsla(var(--card-inner-focus-color));
  border-radius: 1rem;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: border-color 150ms, opacity 150ms;
  z-index: 1;
}
.Card__link:hover, .Card__link:focus {
  text-decoration-color: hsla(var(--card-hover-color));
}
.Card__link:hover::after, .Card__link:focus::after {
  opacity: 1;
}
.Card__link:focus {
  outline: none;
  text-decoration-color: currentColor;
}
.Card__heading {
  line-height: 1.25;
  margin-block-end: 0.5rem;
}
.Card--border .Card__link::after {
  opacity: 1;
}
.Card--border .Card__link:not(:focus):not(:hover)::after {
  border-color: hsla(var(--card-foreground-color));
}
.Card--overlay {
  --card-shadow-color: var(--theme-black);
  --card-foreground-color: var(--theme-white);
  --card-background-color: var(--theme-dark);
  --card-link-color: var(--theme-white);
  --card-hover-color: var(--theme-white);
  grid-template-rows: [media-start] 1fr [overlay-start] 1rem [main-start] auto main-end overlay-end media-end;
}
.Card--overlay::before {
  background: linear-gradient(to top, hsla(var(--card-shadow-color)) 20%, hsla(var(--card-shadow-color)) 60%, transparent);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  content: '';
  display: block;
  grid-column: 1 / -1;
  grid-row: overlay-start / overlay-end;
  overflow: hidden;
}
.Card--overlay .Card__main p {
  text-shadow: 0 0.0625rem 0.0625rem hsl(var(--card-shadow-color));
}
.Card--overlay .Card__main a {
  color: hsl(var(--card-link-color));
}
.Card--overlay .Card__main a:active, .Card--overlay .Card__main a:visited {
  color: hsl(var(--card-link-color));
}
.Card--overlay .Card__main a:hover, .Card--overlay .Card__main a:focus {
  color: hsl(var(--card-hover-color));
}
.Card--square {
  --card-ratio: auto 1;
}
.Card--photo {
  --card-ratio: auto 1.3333333333;
}
.Card--portrait {
  --card-ratio: auto 0.75;
}
.Card--wide {
  --card-ratio: auto 1.7777777778;
}
@supports not (aspect-ratio: 1) {
  .Card__media {
    height: 100%;
    padding-block-end: calc(100% * (1 / 1));
  }
  .Card--square .Card__media {
    padding-block-end: calc(100% * (1 / 1));
  }
  .Card--photo .Card__media {
    padding-block-end: calc(100% * (3 / 4));
  }
  .Card--portrait .Card__media {
    padding-block-end: calc(100% * (4 / 3));
  }
  .Card--wide .Card__media {
    padding-block-end: calc(100% * (9 / 16));
  }
}
@font-face {
  font-family: 'Raleway';
  src: url('https://assets.codepen.io/85421/Raleway-VariableFont.woff2') format('woff2');
  font-display: swap;
  font-weight: 1 900;
  font-style: normal;
  unicode-range: U+0020-007F, U+00A0-00FF, U+0100-017F, U+2000-206F;
}
@font-face {
  font-family: 'Fallback';
  size-adjust: 104%;
  ascent-override: 96%;
  src: local('Arial');
}
html {
  line-height: 1.5;
  font-family: Raleway, Fallback, sans-serif;
}
body {
  margin: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.section3 {
  margin: 0 auto;
  max-width: calc(90rem + 10vw);
  padding: 1.5rem 5vw;
  width: 100%;
}
.Main > *:first-child {
  margin-block-start: 0;
}
.section3 > h1 {
  font-weight: 800;
}
.section3 > h1, .Main > h2, .Main > h3 {
  line-height: 1.25;
  margin-block: 1.5rem 1rem;
}
.section3 > ul {
  margin-block: 1.5rem;
  padding-inline: 2rem 0;
}
.section3 > ul li {
  margin-block: 0.5rem;
}
.section3 > p {
  margin-block: 1rem;
}
.section3 a:not([class]) {
  font-weight: 500;
}
/*Section 3 design end here*/

/*CSS for post.html*/
.page-container {
  display: flex;
  justify-content: center;
}

.article {
  width: 70%;
  padding: 1em 2em;
}

.article-header {
  gap: 0.5em;
}

.article-details {
  gap: 0.5em;
}

.article-category {
  background-color: hsl(250, 84%, 60%);
  color: white;
  padding: 0.4em 1em;
  border-radius: 3em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}

.article-date {
  font-weight: 600;
}

.article-img {
  overflow: hidden;
  padding: 1em 0;
}

.article-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-text {
  line-height: 2em;
}

.share-btn {
  border: none;
  outline: none;
  gap: 1em;
  font-weight: 600;
  padding: 0.5em 1em;
  margin-top: 1em;
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.sidebar-name {
  margin: 1em 0;
  text-align: center;
}

.sidebar-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2em;
  margin-bottom: 1.5em;
}

.sidebar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.sidebar-date {
  color: hsl(250, 84%, 60%);
  font-size: 0.8em;
  font-weight: 600;
}

.sidebar-category {
  color: white;
  background-color: hsl(250, 84%, 60%);
  font-size: 0.8em;
  padding: 0.4em 1em;
  border-radius: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}

.sidebar-content {
  color: #323639;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .width-80 {
    width: 100%;
  }

  .spv {
    flex-direction: column;
    padding: 0;
  }

  .spv-img, .spv-img-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spv-img img {
    width: 100%;
  }

  .spv-text {
    width: 100%;
    align-items: center;
  }

  .spv-text h1, .spv-text h2 {
    text-align: center;
    font-size: 1.2em;
    margin: 0.1em;
  }

  .spv-buttons-container {
    width: 100%;
    flex-direction: column;
    gap: 5vh;
  }

  .page-container {
    flex-direction: column;
  }

  .article, .sidebar {
    width: 100%;
    padding: 0;
  }

  .article-category, .article-date {
    font-size: 0.8em;
  }
}