/* Defined classes */
.color-primary {
  background-color: hsl(250, 84%, 54%);
}

.color-secondary {
  background-color: hsl(250, 84%, 60%);
}

.color-white {
  background-color: hsl(0, 0%, 100%);
}

.text-primary {
  color: hsl(250, 84%, 54%);
}

.text-secondary {
  color: hsl(250, 84%, 60%);
}

.text-white {
  color: hsl(0, 0%, 100%);
}

.text-contrast-low {
  color: hsl(204, 2%, 46%)
}

.text-contrast-medium {
  color: #323639;
}

.text-contrast-high {
  color: hsl(204, 28%, 7%);
}

.font-size-md {
  font-size: 1.2em;
}

.btn-primary {
  background: hsl(250, 84%, 54%);
  border: 1px solid hsl(250, 84%, 54%);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: initial;
  background-position: 0 0;
  color: hsl(250, 84%, 54%);
}

.btn-primary:active {
  opacity: .5;
}

.text-bold {
  font-weight: 600;
}

.title-primary {
  padding: 0.5em 2em;
  border: none;
  margin: auto;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-60 {
  width: 60%;
}

.flex-row-start {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.pointer {
  cursor: pointer;
}
/* Defined classes */

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

* {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#header, #footer{
  position:fixed;
  width: 100%;
  z-index:9;
}

#header{
  top:0px;
}
#footer{
  bottom:0px;
}

nav {
  background: #222;
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}

.menu {
  margin: 0;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spv-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.spv-text h1, h2 {
  text-align: left;
}

.spv-text h1 {
  font-size: 4em;
}

.btn-spv {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn-spv:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btn-spv:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-spv:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.spv-img {
  overflow: hidden;
}

.spv-img img {
  max-height: 99vh;
}

.spv-buttons-container {
  gap: 2em;
}

.title {
  color: white;
  margin: 1em;
  font-size: 2em;
  text-align: center;
}

#section2 {
  justify-content: center;
  text-align: center;
  padding: 0 10em;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}

/*Section no. 2 cards*/
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3iu4nwlxdr.ttf) format('truetype');
}

a.btn {
  background: #0096a0;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.btn:hover {
  background: #00a2ad;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch a.btn:active,
a.btn:active {
  background: #008a93;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 0 auto;
  text-align: center;
}
div.card {
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}
div.card img {
  max-width: 300px;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}
div.card div.card-title {
  background: #ffffff;
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card div.card-title h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}
div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card div.flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card div.flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  transform: rotateX(0deg);
}
div.card.show div.flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show div.flap2 {
  transition: all 0.3s 0.2s ease-out;
}

#section3 {
  justify-content: center;
  align-items: center;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
}

#section3-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10em;
}

.box2 {
  height: 100%;
  width: 32%;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 2em 4em rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: left;
  transition: 0.2s;
}

.box2:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.box2title {
  justify-content: flex-start;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.box2text {
  margin: 0.5em 0;
  line-height: 1.7em;
  max-height: 20em;
  letter-spacing: 0.05em;
  margin-bottom: 2em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.box2-btn {
  display: block;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}

.box2-btn:hover, .box2-btn:active {
  background-color: #dce4ff;
}
.box2-btn:hover span, .box2-btn:active span {
  margin-left: 1.5rem;
}

/*CSS for post.html*/
.page-container {
  display: flex;
  justify-content: center;
}

.article {
  width: 70%;
  padding: 1em 2em;
}

.article-header {
  gap: 0.5em;
}

.article-details {
  gap: 0.5em;
}

.article-category {
  background-color: hsl(250, 84%, 60%);
  color: white;
  padding: 0.4em 1em;
  border-radius: 3em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}

.article-date {
  font-weight: 600;
}

.article-img {
  overflow: hidden;
  padding: 1em 0;
}

.article-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.article-text {
  line-height: 2em;
}

.share-btn {
  border: none;
  outline: none;
  gap: 1em;
  font-weight: 600;
  padding: 0.5em 1em;
  margin-top: 1em;
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
}

.sidebar-name {
  margin: 1em 0;
  text-align: center;
}

.sidebar-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2em;
  margin-bottom: 1.5em;
}

.sidebar-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.sidebar-date {
  color: hsl(250, 84%, 60%);
  font-size: 0.8em;
  font-weight: 600;
}

.sidebar-category {
  color: white;
  background-color: hsl(250, 84%, 60%);
  font-size: 0.8em;
  padding: 0.4em 1em;
  border-radius: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1;
}

.sidebar-content {
  color: #323639;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .btn-primary{
    display: block;
    margin: 0.4em auto;
  }

  .width-80 {
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .spv {
    flex-direction: column;
    padding: 0;
  }

  .spv-img, .spv-img-container {
    width: 100%;
  }

  .spv-text {
    width: 100%;
    align-items: center;
  }

  .spv-text h1, .spv-text h2 {
    text-align: center;
    font-size: 1.2em;
    margin: 0.1em;
  }

  .spv-buttons-container {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }

  .btn-primary {
    width: 100%;
  }

  .title {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: white;
    box-shadow: inset 0 0 0.5px 1px rgba(255, 255, 255, 0.075), 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  }

  .box:hover {
    transform: scale(1);
  }

  .box-title {
    padding: 0.5em;
  }

  .box-img {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .box2, .box2title, .box2content {
    height: auto;
    width: 100%;
  }

  .box2, .box2::after {
    box-shadow: inset 0 0 0.5px 1px rgba(255, 255, 255, 0.075), 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  }

  .box2:hover {
    transform: scale(1);
  }

  .box2:hover::after {
    opacity: 0;
  }

  .box2btn {
    border-radius: 0;
  }

  .box3 {
    width: 100%;
  }

  .footer-menu, .footer-logo {
    display: none;
  }

  .page-container {
    flex-direction: column;
  }

  .article, .sidebar {
    width: 100%;
    padding: 0;
  }

  .article-category, .article-date {
    font-size: 0.8em;
  }
}