@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg, #cbd6e3 0%, #f8fbfc 100%);
}

.nav-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo, .navbar, .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-content: flex-start;
}

.logo h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #333b4b;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 0.5rem;
}

.menu-link {
  text-decoration: none;
  color: #5f6774;
  padding: 0.6rem;
  transition: 0.5s;
}

.menu-link:hover, .menu-link:focus {
  box-shadow: inset 15em 0 0 0 #333b4b;
  color: white;
}

.active {
  color: #333b4b;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-btn, .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2.7rem;
  padding: 0.5rem;
  border: none;
  background-color: #333b4b;
  color: white;
}

.search-btn {
  background: white;
  padding: 0;
}

.search-icon:hover {
  background-color: #ff9027;
}

.search-input {
  height: 2.7rem;
  padding: 0 0 0 1rem;
  border: none;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #cbd6e3 0%, #f8fbfc 100%);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #5f6774;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ff9027;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: #ff9027;
}

.openbtn:hover, .mobilebtn:focus {
  color: #5f6774;
}

.closebtn {
  color: #333b4b;
  background-color: transparent;
  border: 2px solid #5f6774;
}

.closebtn:hover, .closebtn:focus {
  background-color: #333b4b;
  color: white;
  border: 2px solid #333b4b;
}

.mobile {
  display: none;
}

.mobile-menu {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.mobile-menu-item {
  list-style: none;
  text-align: center;
}

.myspace-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.mobilesearchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.mobilesearch-form {
  height: 8vh;
  width: 87vw;
  display: flex;
}

.mobilesearch-btn, .mobilesearch-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 8vh;
  padding: 0.5rem;
  border: none;
  background-color: #333b4b;
  color: white;
}

.mobilesearch-input {
  height: 8vh;
  width: 87vw;
  padding: 0 0 0 1rem;
  border: none;
}

.mobilesearch-btn {
  background: white;
  padding: 0;
}

.mobilesearch-icon:hover {
  background-color: #ff9027;
}

.myspace {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.myspace-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

.myspace-text h1, h2 {
  max-width: 80%;
  color: #333b4b;
  text-align: right;
}

.myspace-text h1 {
  color: #333b4b;
  margin: 0;
}

.myspace-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.myspace-img {
  height: 100%;
  width: 50%;
}

.spv-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spv-img img {
  min-height: 100%;
  max-width: 100%;
}

.myspace-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.myspace-btn {
  height: 4rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  transition: all 0.4s;
}

.myspace-btn:hover, .myspace-btn:focus {
  background: #ff9027;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #f4f8fd;
  gap: 1rem;
}

.first {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
}

.locations-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bbbfc3;
  text-align: center;
}

.locations-box-icon {
  padding: 3rem;
  border: 2px solid #bbbfc3;
}

.locations-box:hover {
  color: #333b4b;
}

.locations-box-p {
  font-size: 1.5rem;
  margin: 0;
}

.title {
  color: #333b4b;
  text-align: center;
}

.border {
  width: 5rem;
  margin: 1rem;
  padding: 0;
  border-bottom: 0.5rem solid #361ebe;
  border-radius: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23vw;
}


.box-img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.5s;
}

.box-img:hover {
  filter: grayscale(100%);
}

.box-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-title, .box-title h3, .box-text {
  color: #333b4b;
  text-align: center;
}

.box-title a {
  text-decoration: none;
}

.second {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  color: #333b4b;
  padding: 1rem;
  border: none;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

.box2title {
  height: 10vh;
  width: 100%;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2title h2 {
  width: 80%;
  margin: 0;
  color: white;
  text-align: center;
}

.box2content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 80%;
}

.box2content h4, .box2content p {
  margin: 0.5rem 0;
}

.box2btn {
  padding: 0.8rem 1.5rem;
  color: white;
  font-weight: 600;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  transition: radial 0.5s;
}

.box2btn:hover, .box2btn:focus {
  background-color: #ff9027;
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }

  header {
    height: auto;
  }

  nav {
    padding: 0.5rem 1rem;
  }

  .nav-container {
    width: 100vw;
    max-width: 100%;
  }

  .logo h1 {
    font-size: 2rem;
  }

  .menu {
    display: none;
  }

  .searchbar {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .myspace-container {
    width: 100vw;
    max-width: 100%;
    padding-bottom: 2rem;
  }

  .myspace {
    flex-direction: column;
    height: auto;
  }

  .myspace-img {
    width: 100vw;
    max-width: 100%;
  }

  .myspace-text {
    width: 100vw;
    max-width: 100%;
    align-items: center;
  }

  .myspace-text h1, .myspace-text h2 {
    width: 100vw;
    max-width: 100%;
    text-align: center;
  }

  .first {
    width: 90vw;
  }

  .locations {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .locations-box {
    width: 30%;
    margin-top: 1rem;
  }

  .title {
    width: 100%;
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .box {
    flex-direction: row-reverse;
    height: 18vh;
    width: 100%;
    background-color: white;
  }

  .box-title h3 {
    margin: 0;
    font-weight: 600;
    color: #333b4b;
    text-align: left;
    padding: 0 0 0 0.5rem;
  }

  .box-img {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .second {
    width: 90vw;
  }

  .second .title {
    margin: 1rem 0;
  }

  .box2, .box2title, .box2content {
    width: 100%;
  }

  .box2btn {
    border-radius: 0;
  }
}