@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #20222f;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 0.5rem;
}

.menu-link {
  text-decoration: none;
  color: #757989;
  padding: 0.6rem;
  transition: all 0.25s cubic-bezier(.17,.67,.83,.67)
}

.menu-link:hover {
  color: black;
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
}

.active {
  color: white;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search, .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2.7rem;
  padding: 0.5rem;
  border: none;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.search {
  background: white;
  padding: 0;
}

.search-icon:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.search-input {
  height: 2.7rem;
  padding: 0 0 0 1rem;
}

.myspace {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  height: 80vh;
  width: 100%;
}

.myspace-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.myspace-left h1, h2 {
  color: #ffffff;
  max-width: 80%;
}

.myspace-left h1 {
  color: #3498db;
  margin-bottom: 0;
}

.myspace-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.myspace-right {
  height: 100%;
  width: 50%;
}

.spv-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spv-img img {
  min-height: 100%;
  max-width: 100%;
}

.spv-button, .tutorials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0;
  height: 4rem;
  width: 9rem;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none;
}

.tutorials {
  gap: 0.5rem;
}

.tutorials p {
  margin: 0;
  padding: 0;
}

.spv-button:hover, .tutorials:hover {
  background: black;
  color: white;
}


.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 10px 0;
  width: 9rem;
  height: 4rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper {
  padding: 0;
  color: white;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f6fa;
}

.main-container {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 26%;
  padding: 1rem;
  background-color: #ffffff;
}

.box-img {
  display: flex;
  flex-shrink: 1;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.box-title, .box-desc {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  width: 100%;
}

.box-title h2, .box-desc p {
  flex-shrink: 1;
  width: 100%;
  color: black;
}

.box-desc p {
  font-size: 14px;
}

.date p {
  font-size: 14px;
  margin: 0;
}

.news-button {
  align-self: flex-start;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
}

.news-button:hover {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
