@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg, #cbd6e3 0%, #f8fbfc 100%);
}

.nav-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo, .navbar, .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-content: flex-start;
}

.logo h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #333b4b;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 0.5rem;
}

.menu-link {
  text-decoration: none;
  color: #5f6774;
  padding: 0.6rem;
  transition: 0.5s;
}

.menu-link:hover, .menu-link:focus {
  box-shadow: inset 15em 0 0 0 #333b4b;
  color: white;
}

.active {
  color: #333b4b;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-btn, .search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 2.7rem;
  padding: 0.5rem;
  border: none;
  background-color: #333b4b;
  color: white;
}

.search-btn {
  background: white;
  padding: 0;
}

.search-icon:hover {
  background-color: #ff9027;
}

.search-input {
  height: 2.7rem;
  padding: 0 0 0 1rem;
  border: none;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, #cbd6e3 0%, #f8fbfc 100%);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  justify-content: center;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #5f6774;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: white;
  background-color: #ff9027;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: #ff9027;
}

.openbtn:hover, .mobilebtn:focus {
  color: #365dab;
}

.closebtn {
  color: #5f6774;
  background-color: transparent;
  border: 2px solid #5f6774;
}

.closebtn:hover, .closebtn:focus {
  background-color: #ff9027;
  color: white;
  border: 2px solid #ff9027;
}

.mobile {
  display: none;
}

.mobile-menu {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.mobile-menu-item {
  list-style: none;
  text-align: center;
}

.myspace-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.mobilesearchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.mobilesearch-form {
  height: 8vh;
  width: 87vw;
  display: flex;
}

.mobilesearch-btn, .mobilesearch-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 8vh;
  padding: 0.5rem;
  border: none;
  background-color: #ff9027;
  color: white;
}

.mobilesearch-input {
  height: 8vh;
  width: 87vw;
  padding: 0 0 0 1rem;
  border: none;
}

.mobilesearch-btn {
  background: white;
  padding: 0;
}

.mobilesearch-icon:hover {
  background-color: #ff9027;
}

.myspace {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.myspace-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
}

.myspace-text h1, h2 {
  max-width: 80%;
  color: #333b4b;
  text-align: right;
}

.myspace-text h1 {
  color: #333b4b;
  margin: 0;
}

.myspace-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.myspace-img {
  height: 100%;
  width: 50%;
}

.spv-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.spv-img img {
  min-height: 100%;
  max-width: 100%;
}

.spv-btn, .tutorials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0 0 0;
  height: 4rem;
  width: 9rem;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  border: none;
}

.tutorials {
  gap: 0.5rem;
}

.tutorials p {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: 10px 0;
  width: 9rem;
  height: 4rem;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper {
  padding: 0;
  color: white;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .icon:hover,
.wrapper .icon:hover .tooltip,
.wrapper .icon:hover .tooltip::before {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  color: #ffffff;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f4f8fd;
}

.main-container {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.main-container h1 {
  color: #333b4b;
  margin-bottom: 2rem;
}

.helper {
  width: 15vw;
  top: 105%;
  left: 70%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: white;
  color: #5f6571;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.border {
  width: 5rem;
  margin: 1rem 0 1rem 0;
  padding: 0;
  border-bottom: 0.5rem solid #361ebe;
  border-radius: 1rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 23vw;
}


.box-img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  overflow: hidden;
}

.box-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.box-img:hover {
  filter: grayscale(100%);
}

.box-title, .box-title h3, .box-text {
  color: #333b4b;
  text-align: center;
}

.box-title a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    min-width: 100%;
    max-width: 100%;
  }

  header {
    height: auto;
  }

  nav {
    padding: 1rem 1rem;
  }

  .nav-container {
    width: 100vw;
    max-width: 100%;
  }

  .menu {
    display: none;
  }

  .searchbar {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .myspace-container {
    width: 100vw;
    max-width: 100%;
    padding-bottom: 2rem;
    
  }

  .myspace {
    flex-direction: column;
    height: auto;
  }

  .myspace-img {
    width: 100vw;
  }

  .myspace-text {
    width: 100vw;
    max-width: 100%;
    align-items: center;
  }

  .myspace-text h1, .myspace-text h2 {
    width: 100vw;
    max-width: 100%;
    text-align: center;
  }

  main {
    height: auto;
  }

  .main-container {
    width: 100vw;
    max-width: 100%;
    padding-top: 2rem;
  }

  .helper {
    display: none;
  }

  .border {
    margin: 0;
  }

  .main-container h1 {
    margin: 1rem 0;
  }

  .row {
    flex-direction: column;
    gap: 1rem;
  }

  .box {
    height: auto;
    width: 100vw;
    max-width: 100%;
  }

  .box-img {
    height: 30vh;
    width: 100vw;
    max-width: 100%;
    border-radius: 0;
  }
}